In [5]:
from glob import glob

# Find all directories under tennis_data/
date_folders = glob('tennis_data/*')

# Create an empty list to store all files
files_to_load = []

# Loop through each date folder and load .parquet files
for folder in date_folders:
    files_to_load.extend(
        glob(f'{folder}/data/raw/raw_match_parquet/away_team*.parquet')
    )

print(f"Total files loaded: {len(files_to_load)}") 
import pandas as pd
df_to_load_away = [pd.read_parquet(file) for file in files_to_load]
df_loaded_away = pd.concat(df_to_load_away, ignore_index=True)
df_loaded_away.info()

Total files loaded: 59256

C:\Users\lavan_computer\AppData\Local\Temp\ipykernel_2996\3167187476.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_loaded_away = pd.concat(df_to_load_away, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59256 entries, 0 to 59255
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            59256 non-null  int64
 1   name                24203 non-null  object
 2   slug                24203 non-null  object
 3   gender              24170 non-null  object
 4   user_count          24203 non-null  float64
 5   residence           7018 non-null   object
 6   birthplace          13895 non-null  object
 7   height              13538 non-null  float64
 8   weight              6910 non-null   float64
 9   plays               11959 non-null  object
 10  turned_pro          4727 non-null   object
 11  current_prize       23977 non-null  float64
 12  total_prize         24070 non-null  float64
 13  player_id           24203 non-null  float64
 14  current_rank        23878 non-null  float64
 15  name_code           24203 non-null  object
 16  country             24198 non-null  object
 17  full_name           24203 non-null  object
 18  current_score       32040 non-null  float64
 19  display_score       32040 non-null  float64
 20  period_1            32027 non-null  float64
 21  period_2            31707 non-null  float64
 22  period_3            8807 non-null   float64
 23  period_4            0 non-null      object
 24  period_5            0 non-null      object
 25  period_1_tie_break  2544 non-null   float64
 26  period_2_tie_break  2385 non-null   float64
 27  period_3_tie_break  650 non-null    float64
 28  period_4_tie_break  0 non-null      object
 29  period_5_tie_break  0 non-null      object
 30  normal_time         0 non-null      object
dtypes: float64(15), int64(1), object(15)
memory usage: 14.0+ MB

In [6]:
from glob import glob

# Find all directories under tennis_data/
date_folders = glob('tennis_data/*')

# Create an empty list to store all files
files_to_load_home = []

# Loop through each date folder and load .parquet files
for folder in date_folders:
    files_to_load_home.extend(
        glob(f'{folder}/data/raw/raw_match_parquet/home_team*.parquet')
    )

print(f"Total files loaded: {len(files_to_load_home)}") 
import pandas as pd
df_to_load = [pd.read_parquet(file) for file in files_to_load]
df_loaded = pd.concat(df_to_load, ignore_index=True)
df_loaded.info()

Total files loaded: 60774

C:\Users\lavan_computer\AppData\Local\Temp\ipykernel_2996\4052494849.py:18: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_loaded = pd.concat(df_to_load, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59256 entries, 0 to 59255
Data columns (total 31 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   match_id            59256 non-null  int64
 1   name                24203 non-null  object
 2   slug                24203 non-null  object
 3   gender              24170 non-null  object
 4   user_count          24203 non-null  float64
 5   residence           7018 non-null   object
 6   birthplace          13895 non-null  object
 7   height              13538 non-null  float64
 8   weight              6910 non-null   float64
 9   plays               11959 non-null  object
 10  turned_pro          4727 non-null   object
 11  current_prize       23977 non-null  float64
 12  total_prize         24070 non-null  float64
 13  player_id           24203 non-null  float64
 14  current_rank        23878 non-null  float64
 15  name_code           24203 non-null  object
 16  country             24198 non-null  object
 17  full_name           24203 non-null  object
 18  current_score       32040 non-null  float64
 19  display_score       32040 non-null  float64
 20  period_1            32027 non-null  float64
 21  period_2            31707 non-null  float64
 22  period_3            8807 non-null   float64
 23  period_4            0 non-null      object
 24  period_5            0 non-null      object
 25  period_1_tie_break  2544 non-null   float64
 26  period_2_tie_break  2385 non-null   float64
 27  period_3_tie_break  650 non-null    float64
 28  period_4_tie_break  0 non-null      object
 29  period_5_tie_break  0 non-null      object
 30  normal_time         0 non-null      object
dtypes: float64(15), int64(1), object(15)
memory usage: 14.0+ MB

In [3]:
import pandas as pd
df_to_load = [pd.read_parquet(file) for file in files_to_load]
df_loaded = pd.concat(df_to_load, ignore_index=True)
df_loaded.info()

C:\Users\lavan_computer\AppData\Local\Temp\ipykernel_2996\3592701268.py:3: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  df_loaded = pd.concat(df_to_load, ignore_index=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 120030 entries, 0 to 120029
Data columns (total 31 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   match_id            120030 non-null  int64
 1   name                49813 non-null   object
 2   slug                49813 non-null   object
 3   gender              49745 non-null   object
 4   user_count          49813 non-null   float64
 5   residence           14205 non-null   object
 6   birthplace          28669 non-null   object
 7   height              27861 non-null   float64
 8   weight              13942 non-null   float64
 9   plays               24443 non-null   object
 10  turned_pro          9531 non-null    object
 11  current_prize       49457 non-null   float64
 12  total_prize         49611 non-null   float64
 13  player_id           49813 non-null   float64
 14  current_rank        49215 non-null   float64
 15  name_code           49813 non-null   object
 16  country             49799 non-null   object
 17  full_name           49813 non-null   object
 18  current_score       64190 non-null   float64
 19  display_score       64190 non-null   float64
 20  period_1            64165 non-null   float64
 21  period_2            63514 non-null   float64
 22  period_3            17649 non-null   float64
 23  period_4            0 non-null       object
 24  period_5            0 non-null       object
 25  period_1_tie_break  5098 non-null    float64
 26  period_2_tie_break  4778 non-null    float64
 27  period_3_tie_break  1301 non-null    float64
 28  period_4_tie_break  0 non-null       object
 29  period_5_tie_break  0 non-null       object
 30  normal_time         0 non-null       object
dtypes: float64(15), int64(1), object(15)
memory usage: 28.4+ MB

In [21]:
All_Players=pd.concat([df_loaded["player_id"],df_loaded_away["player_id"]],axis=0)
All_Players.nunique()

2479

In [19]:
All_Players=pd.concat([df_loaded["player_id"],df_loaded_away["player_id"]],axis=0)
print("The number of tennis players in the dataset is: ", len(All_Players.unique()))

The number of tennis players in the dataset is:  2480

question_2

In [19]:
df_loaded['height'].dropna().mean()

np.float64(1.8230601916657696)

In [22]:
Away_team_height=df_loaded_away["height"].mean()
Inhome_team_height=df_loaded["height"].mean()
All_Players_height=(Away_team_height + Inhome_team_height) / 2  
print("Average height of the players is: ", All_Players_height)

Average height of the players is:  1.822385138129709