In [1]:
from glob import glob
import pandas as pd
# Find all directories under tennis_data/
date_folders = glob('tennis_data/*')

# Create an empty list to store all files
files_to_load_time = []

# Loop through each date folder and load .parquet files
for folder in date_folders:
    files_to_load_time.extend(
        glob(f'{folder}/data/raw/raw_match_parquet/time*.parquet')
    )
print(f"Total files loaded: {len(files_to_load_time)}") 
df_time = [pd.read_parquet(file) for file in files_to_load_time]
df_time = pd.concat(df_time, ignore_index=True)
df_time.sample(5)

Total files loaded: 35671

,match_id,period_1,period_2,period_3,period_4,period_5,current_period_start_timestamp
19167,12143192,None,None,None,None,None,None
7526,12069399,2717,2653,2465,None,None,1708005034
34946,12206039,2751,3550,None,None,None,1711804231
33199,12195286,3290,2113,2954,None,None,1711535874
24675,12152607,2469,2500,None,None,None,1710339433

In [5]:
df_time['total_time'] = df_time[['period_1','period_2','period_3','period_4','period_5']].sum(axis=1)
longest_match = df_time.loc[df_time['total_time'].idxmax()]
print(longest_match['match_id'])

12063611

question_5

In [7]:
df_time[['period_1','period_2','period_3','period_4','period_5']].notna().sum(axis=1).mode()[0]

np.int64(2)

In [12]:

# Create an empty list to store all files
files_to_load_power = []

# Loop through each date folder and load .parquet files
for folder in date_folders:
    files_to_load_power.extend(
        glob(f'{folder}/data/raw/raw_tennis_power_parquet/power*.parquet')
    )
print(f"Total files loaded: {len(files_to_load_power)}") 
df_power = [pd.read_parquet(file) for file in files_to_load_power]
df_power = pd.concat(df_power, ignore_index=True)
df_power.sample(5)

Total files loaded: 22724

        match_id  set_num  game_num  value  break_occurred
368447  12170866        3         2 -28.00            True
411324  12185562        1        13  90.00           False
381374  12172780        1         4  12.40            True
337679  12158712        1        11 -23.02           False
248130  12121868        1         8 -66.00           False

In [14]:
most_played=df_power["set_num"].mode()  # This will give the most common number of sets played
print("Most played sets in a match: ", most_played[0])  # mode returns a Series, take the first element

max_sets = df_power["set_num"].max()  # This will give the maximum number of sets played in any match
print("Maximum sets played in a match: ", max_sets)

often_played = df_power["set_num"].value_counts().head(10)  # This will give the top 10 most played sets
print("Top 10 most played sets in matches:\n", often_played)

Most played sets in a match:  1
Maximum sets played in a match:  3
Top 10 most played sets in matches:
 set_num
1    210480
2    203910
3     55287
Name: count, dtype: int64