In [1]:

from glob import glob
import pandas as pd
# Find all directories under tennis_data/
date_folders = glob('tennis_data/*')

# Create an empty list to store all files
files_to_load_period = []

# Loop through each date folder and load .parquet files
for folder in date_folders:
    files_to_load_period.extend(
        glob(f'{folder}/data/raw/raw_statistics_parquet/*.parquet')
    )
print(f"Total files loaded: {len(files_to_load_period)}") 
df_period = [pd.read_parquet(file) for file in files_to_load_period]
df_period = pd.concat(df_period, ignore_index=True)
df_period.sample(5)

Total files loaded: 23291

,match_id,period,statistic_category_name,statistic_name,home_stat,away_stat,compare_code,statistic_type,value_type,home_value,away_value,home_total,away_total
1048597,12170820,1ST,service,break_points_saved,2/2 (100%),4/6 (66%),1,positive,team,2,4,2.0,6.0
809009,12109859,ALL,points,total,37,56,2,positive,event,70,14,NaN,NaN
586268,12109890,1ST,service,second_serve_points,6/10 (60%),6/9 (67%),2,positive,team,6,6,10.0,9.0
1012835,12110074,ALL,points,receiver_points_won,25,12,1,positive,event,25,12,NaN,NaN
568386,12106270,1ST,return,second_serve_return_points,7/12 (58%),8/11 (72%),2,positive,team,7,8,12.0,11.0

In [65]:
aces=df_period[df_period['statistic_name']=='aces']
aces['total_aces'] = aces['home_value'] + aces['away_value']
aces_per_match = aces.groupby('match_id')['total_aces'].sum()
aces_per_match.mean()

C:\Users\lavan_computer\AppData\Local\Temp\ipykernel_7348\1241054630.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  aces['total_aces'] = aces['home_value'] + aces['away_value']

np.float64(21.657388708402845)

In [ ]:
#my final solution
aces=df_period['statistic_name']=='aces'
mean_aces=df_period[aces].groupby('match_id')['statistic_name'].count()
mean_aces.mean()

np.float64(6.6956712617437875)

In [100]:
import pandas as pddf_period
Match_count=df_period["match_id"].nunique()  # Count unique matches
Ace_count = df_period["statistic_name"].str.contains("ace", case=False, na=False).sum()  # Count aces
Average_aces_per_match = Ace_count / Match_count if Match_count > 0 else 0  # Calculate average
print(f"Average number of aces per match: {Average_aces_per_match}")

Average number of aces per match: 6.693320459931537